.explore-detail {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;

  img {
    width: 100%;
    border-radius: 16px;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 32px;
    margin-bottom: 12px;
  }

  p {
    color: #555;
    line-height: 1.6;
  }
}

.info{
  li{
    line-height: 150%;
    strong{
      display: inline-block;
      width: 80px;
      font-weight: 600;
    }
  }
}